table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 90%;
  margin-bottom: 5%;
  margin-left: 5%;
}

tr {
  border: 1px solid black;
}

td {
  padding: 10px;
}

button {
  height: 5%;
  width: 7%;
  background-color: #adadad;
  border: none;
}
